<?xml version="1.0"?>
<!--
/**
 * Slider
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="layout_load_before">
		<observer name="slider_inserts_homepage" instance="SY\Slider\Observer\Inserts\Homepage" />
	</event>
</config>